{{ define "main" }}
<div class="project-cards row">
  {{ range .Pages }}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {{ with .Params.image }}
          <img src="{{ . | relURL }}" class="card-img-top" alt="{{ $.Title }}">
        {{ end }}
        <div class="card-body">
          <h5 class="card-title">{{ .Title }}</h5>
          {{ with .Params.summary }}
            <p class="card-text">{{ . }}</p>
          {{ else }}
            <p class="card-text">{{ .Summary }}</p>
          {{ end }}
          <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
